.mainCard {
  position: relative;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 4px 3px 8px gray;
  overflow: hidden;
  border-radius: 5px;
}

.mainCard:hover {
  border: 1px solid green;
  cursor: pointer;
}

.image-style {
  transition: 0.3s ease, transform 0.3s ease;
}

.mainCard:hover .image-style {
  transform: scale(1.15);
}

.customButton {
  transition: 0.3s ease, transform 0.3s ease;
}

.icons {
  position: absolute;
  top: 10px;
  left: 8px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.mainCard:hover .icons {
  visibility: visible;
  opacity: 1;
}
