.topCard {
  position: relative;
  background-color: white;
}

.icons {
  position: absolute;
  top: 10px;
  left: 8px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.topCard:hover .icons {
  visibility: visible;
  opacity: 1;
}
